.window{
    -fx-min-width:944px;
    -fx-min-height:595px;
}

.sidebar {
    -fx-background-color: #1F25C1;
    -fx-min-width:105px;
    -fx-min-height:595px;
}

.content {
    -fx-background-color:white;
    -fx-min-width:830px;
    -fx-min-height:595px;
}

.title{
    -fx-background-color: white;
    -fx-text-fill: #1f25c1;
}

.rp-column {
    /*-fx-background-color:#98c5e993;
    -fx-text-background-color:white; */ 
}
